:root {
  --darkGrayishBlue: hsl(217, 19%, 35%);
  --desatDarkBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(212, 23%, 69%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
  --defaultFontSize: 13px;
}

@font-face {
  font-family: ManRope;
  src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--defaultFontSize);
  font-family: ManRope;
  color: var(--desatDarkBlue);
  background-color: var(--lightGrayishBlue);
  font-weight: 500;
}

main {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  box-shadow: 4px 5px 8px 0px;
  background-color: white;
}

.img-drawers {
  object-fit: cover;
  block-size: auto;
  aspect-ratio: 1/1;
  object-position: top left;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 1rem 0 0 1rem;
}

article#content {
  padding: 2.3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--darkGrayishBlue);
    max-width: 28ch;
  }

  p {
    margin: 0;
    max-width: 45ch;
  }
}

.section-author-details {
  display: grid;
  grid-template-areas: 'michelle name share'
    'michelle date share';
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;

  img.img-michelle {
    grid-area: michelle;
  }

  p#name {
    grid-area: name;
    font-weight: 700;
    color: var(--darkGrayishBlue);
  }

  p#date {
    grid-area: date;
    color: var(--grayishBlue);
  }

  div.img-container {
    grid-area: share;
    justify-self: flex-end;
  }

  p {
    margin: 0;
  }
}

.img-container {
  background-color: var(--lightGrayishBlue);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-clickable:hover {
  cursor: pointer;
}

.img-michelle {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 100%;
}

.img-share {
  object-fit: contain;
}

[popover] {
  width: 200px;
  height: 100px;
  top: 15%;
  left: 48.5%;
  overflow: hidden;
  background-color: transparent;
  border: 0;
}

#popover-socials {
  background-color: var(--darkGrayishBlue);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  color: var(--grayishBlue);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  overflow: hidden;
}

[popover]::after {
  content: "";
  position: absolute;
  /* top: 47%; */
  /* position the arrow */
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid var(--darkGrayishBlue);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.attribution {
  font-size: 11px;
  text-align: center;

}

.attribution a {
  color: hsl(228, 45%, 44%);
}